



#wordText{
    position: absolute;
    right: 10px;    
    z-index: 1000;
}


.contentlist{    
    margin-top: 30px;
    overflow: auto;
    max-height: 80px;
}

.contentlist::-webkit-scrollbar {
 width: 4px;
}

.contentlist::-webkit-scrollbar-thumb {
    background-color: #78be40;
}




.itemt{
    display: flex;
    justify-content:flex-end;
    margin: 5px 0;
}

.textcontent{
    max-width: 450px;
    overflow:hidden;  
    white-space:nowrap;
    text-overflow: ellipsis;  
}


.textcontent{
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    color: #fff; 
    font-size: 12px;
    border-radius: 4px;
}



.box{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}

textarea{
    padding: 5px;
}

.bluebtn {
    background: #8BC34A;
    font-size: 12px;
    padding: 2px 4px;
    color: #fff;
    cursor:pointer;
    resize: none;
    width: 50px;
    border-radius: 2px;
}

.delbtn{
    background-image: url(../img/del.svg); 
    width: 16px;
    height: 16px;
    cursor:pointer;
    margin: 3px 6px 0;
}

.wrapbox{
    width: 180px;
    position: absolute;
    right: 0;
    top: 240px;
    z-index: 1000
}


.words{
    background: transparent;
    border-style: none;
    outline:none;
    background: rgba(255, 255, 255, 0.5);    
    border-radius: 2px;
    width: 120px;
    height: 30px;
    min-width: 120px;
    min-height: 30px;
    max-width: 200px;
    max-height: 50px;
    font-size: 12px;
    color: #fff;
}

.words::-webkit-input-placeholder{
    color:#fff;
}


