<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0;"background="static/img/login_bgx.gif">
   <script src="static/js/echarts.js"></script>
   <script src="static/js/echarts-gl.js"></script>
   <script src="static/js/shine.js"></script>
   <div style="width:1060px;margin:20px auto 10px;background-color:white;border-radius: 15px">
       <div id="container" style="width:1060px;margin:20px auto 10px;background-color:white;height: 600px;font-weight:bold;border-radius: 15px;text-indent: 0.5em;font-size: 40px;padding-top: 15px;"></div>
       <br/>
       <div style="position: relative;">
           <a href="back_to_index?kind={{ kind }}" class="btn btn-info" style="position: absolute;right: 20px;top: -20px;">返回首页</a>
       </div>
       <br/>
   </div>
       <script type="text/javascript">
        var myChart = echarts.init(document.getElementById("container"),'shine');
        var option = {
                        title : {
                            text: '教师KNN分类',
                            subtext: '数据模拟'
                        },
                        grid: {
                            left: '3%',
                            right: '7%',
                            bottom: '3%',
                            containLabel: true
                        },
                        tooltip : {
                            // trigger: 'axis',
                            showDelay : 0,
                            formatter : function (params) {
                                if (params.value.length > 1) {
                                    return params.seriesName + ' :<br/>'
                                         +'好评'+params.value[0] + '次 '
                                        +'差评'+ params.value[1] + '次 '
                                        + params.value[2];
                                }
                                else {
                                    return params.name + ' : '
                                        + params.value + '次 ';
                                }
                            },
                            axisPointer:{
                                show: true,
                                type : 'cross',
                                lineStyle: {
                                    type : 'dashed',
                                    width : 1
                                }
                            }
                        },
                        toolbox: {
                            feature: {
                                dataZoom: {},
                                brush: {
                                    type: ['rect', 'polygon', 'clear']
                                }
                            }
                        },
                        brush: {
                        },
                        legend: {
                            data: ['标值','{{ teacher }}'],
                            left: 'center'
                        },
                        xAxis : [
                            {
                                type : 'value',
                                data:['好评'],
                                scale:true,
                                axisLabel : {
                                    formatter: '{value} 次'
                                },
                                splitLine: {
                                    show: false
                                }
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value',
                                data:['差评'],
                                scale:true,
                                axisLabel : {
                                    formatter: '{value} 次'
                                },
                                splitLine: {
                                    show: false
                                }
                            }
                        ],
                        series : [
                            {
                                name:'标值',
                                type:'scatter',
                                data: [[54, 2,"优秀"],
                                    [26, 17,"优秀"],
                                    [65, 9,"优秀"],
                                    [60, 0,"优秀"],
                                    [62, 2,"差评"],
                                    [133, 2,"差评"],
                                    [57, 3,"差评"],
                                    [27, 4,"差评"],
                                    [11, 46,"一般"],
                                    [17, 39,"一般"],
                                    [11, 38,"一般"],
                                    [25, 34,"一般"],
                                    [52, 0, "优秀"],
                                    [44, 4, "优秀"],
                                    [32, 10, "一般"],
                                    [41, 17, "一般"],
                                    [48, 6, "差评"],
                                    [28, 5, "差评"],
                                    [19, 30, "一般"],
                                    [184, 12, "优秀"],
                                    [160, 32, "优秀"],
                                    [116, 40, "一般"],
                                    [126, 49, "一般"],
                                    [154, 24, "差评"],
                                    [112, 20, "差评"]]
                            },
                            {
                                name:'{{ teacher }}',
                                type:'scatter',
                                data:[
                                    [{{ good }},{{ bad }},'{{ comment }}']
                                ]
                            }
                        ]
                    };
            myChart.setOption(option)
       </script>

   </body>
</html>